*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    /* background-color: #fefae0; */
    width: 100%;
}

/*menu*/                                                                     /* PAGINA PRINCIPAL */
.imglogo{
    height: 80px;
    width: 120px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 21px;
    font-family: sans-serif;
    color: black;
    padding-top: 24px;
}
a:hover{
    border-top: 6px solid #9ACD32;
    color: #9ACD32;
}
header nav{
    width: 70%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white ;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0.3);
}
nav ul{
    display: flex;
    justify-content: space-evenly;
}

/*  PAGINA PRINCIPAL *//*banner*/
.banner-principal{
    width: 100%;
    height: 450px;
    background-image: url(./img/1.jpg) ;
    background-position: right center;
    background-size: 100% 160%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
.banner-principal h2{
    font-size: 50px;
    font-family:serif;
    color: #2a2f30;
}

/* PAGINA PRINCIPAL *//*contenido*/
.main-text{
    padding: 45px 10px 5px 10px;
    background-color: #e9edc9;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0.3);
}
.main-text h2{
    font-size: 30px;
    margin-bottom: 22px;
    text-align: center;
    font-family: Verdana, Tahoma, sans-serif;
}
.main-text p{
    font-size: 21px;
    margin-bottom: 22px;
    font-family: Verdana, Tahoma, sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.imgsection{
    height: 250px;
    width: 350px;
}
div .imgsection{
    margin-left: 100px;
    margin-right: 100px;
}

.section-text{
    margin: 45px 50px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around; 
}
.section-text article{
  width: 40%;
}
article:hover{
    transform: scale(1.15);
    color: rgb(20, 73, 77);
}
.section-text article img{
    margin-left: 50%;
    margin-bottom: 40px;
}

.section-text article h3{
    font-size: 26px;
    text-align: center;
    margin-bottom: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}
.section-text article p{
    font-size: 16px;
    text-align: justify;
    font-family: Helvetica, sans-serif;
}

.contenedorImg{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content: space-around;
}
.contenedorImg .imgPrincipal{
    width: 30%;
    position: relative;
    height: 250px;
    margin-bottom: 5px;
}
.imgPrincipal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(0, 118, 192, 0.781);
    width: 100%;
    height: 0;
    transition: 1s ease;
    overflow: hidden;
    border-radius: 5px;
}
.overlay h3{
    color: #ffffff;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
    text-align: center;
}
.imgPrincipal:hover .overlay{
    height: 100%;
}

/*footer*/                                                                      /* FOOTER */
footer{
    bottom: 0px;
    color: rgb(170, 190, 54);
    background-color: #354f52;  
}
.imgredes{
    height: 30px;
    width: 30px;
    margin-left: 50px;
}
footer p{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    padding-top: 5px;
    margin-bottom: 10px;
}
.footer-redes{
    text-align: center;
    padding: 10px;
}

/*pag productos*/                                                       /*   PAGINA PRODUCTOS    */
#galeria{
    display: grid;
    grid-template-columns:repeat(4, 2fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}
#galeria img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}
#galeria img:hover{
    transform: scale(1.15);
}

.section-galeria{
    margin-top: 80px;
    margin-bottom: 50px;
}
.section-galeria h2{
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
    font-family: sans-serif;
}
.section-galeria p{
    font-size: 26px;
    font-family:monospace;
    padding-left: 20px;
    padding-right: 100px;
}

                                                                              /* PAGINA HISTORIA */
/*Quienes Somos*/
.historia_titulo{
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
}
hr{
    margin-top: 5px;
    margin-bottom: 35px;
}
.historia_container{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 25px;
    margin-bottom: 35px;
}
.historia_contenido{
    justify-content: space-between;
    height: 350px;
    padding: 25px;
}
.historia_contenido h2{
    font-family: sans-serif;
    font-size: 2rem;
    margin-bottom: 15px;
}
.historia_contenido p{
    font-size: 1rem;
    font-family:cursive;
    text-align: justify;
    margin-bottom: 30px;
    letter-spacing: 1.5px;
}
.boton{
    padding: 20px;
    width: 200px;
    border-radius: 25px;
    font-size: 1rem;
    font-family:sans-serif;
    font-weight: bold;
}
.boton:hover{
    cursor: pointer;
    border-color:rgba(5, 160, 56, 0.781);
}
.historia_container_img{
    display: grid;
    width: 100%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 24px;
    background-color: rgba(18, 22, 24, 0.6)
}
.historia_imagenes{
    width: 100%;
    height: auto;
    padding: 20px;
    
}
.historia_imagenes img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.historia_banner{
    width: 100%;
    height: 350px;
    animation: banner 8s infinite linear alternate;
    background-size: 100% 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
@keyframes banner{
    0%, 50%{
        background-image: url(./img/banner2.jpg);
    }
    50%, 100%{
        background-image: url(./img/invernadero2.jpg);
    }
}
.banner_img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}
.banner_text{
    z-index: 1;
    text-align: center;
}
.banner_text h3{
    color: aliceblue;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 18px;
    letter-spacing: 1px;
}

.banner_text p{
    color: #c7c7c7;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    font-size: 16px;
}

.section1{
    margin: 50px 200px 10px 200px;
    text-align: center;
}

.section1 h2{
    margin-bottom: 5px;
    font-size: 45px;
    font-family: sans-serif; 
    color: #6b705c; 
    animation: section 3s infinite; 
}
.section1 p{
    font-size: 19px;
    font-family: fantasy;
    text-align: justify;
    color: #495057
}

.section2{
    margin: 50px 200px 10px 200px; 
    text-align: center;  
}
.section2 h2{
    margin-bottom: 5px;
    font-size: 45px;
    font-family: sans-serif;
    color: #6b705c;
    animation: section 3s infinite; 
}
.section2 p{
    font-size: 19px;
    font-family: fantasy;
    text-align: justify;
    color: #495057;   
}

@keyframes section {
    50%{
        color: #ddbea9;
    }    
}

/*pag hidroponia*/                                                      /*  PAGINA HIDROPONIA   */
.main-hidroponia{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 30px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}
.main-hidroponia h1{
    font-family: sans-serif;
    font-size: 45px;
    margin-bottom: 15px;
}
.main-hidroponia p{
    font-size: 20px;
    margin-bottom: 80px;
}
.main-hidroponia img:hover{
    transform:scale(1.1)
}
#hidroponia{
    display: flex;
    width: 85%;
    margin: auto;
    justify-content:space-between;
}
.container_hidroponia{
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
    justify-content:space-around;
    margin-bottom: 25px;
}
.hidroponia_text{
    width: 20%;
    margin: 10px;
    text-align: center;
    /* box-shadow: 0px 0px 20px 0px rgba(7, 187, 241, 0.815); */
}
.hidroponia_text img{
    height: 100px;
    width: 100px;
}
.hidroponia_text h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight:bold;
}

/*pag comentarios*/                                                     /*  PAGINA COMENTARIOS  */
.comentarios_container{
    display: grid;
    grid-template-columns: 50% 30%;
    width: 100%;
}
form{
    width: 500px;
    margin:auto;
    padding: 10px 20px;
    margin-top: 20px;
    background: #84a98c;
    border-radius: 10px;    
}
form h1{
    font-family: sans-serif;
    font-size: 30px;
    color: #354f52;
    margin-bottom: 15px;
    text-align: center;
}
form p{
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #495057;
    text-align:center;
    letter-spacing: 2px;
    margin-bottom: 35px;
}
input, textarea{
    width: 100%;
    margin-bottom: 25px;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    font-weight: bold;
}
textarea{
    min-height: 100px;
    max-height: 150px;
    max-width: 100%;
}
#button{
    background-color: #cad2c5;
    color: #101314;
    padding: 10px;
}
#button:hover{
    cursor: pointer;
    background-color: #52796f;      
}

@media (max-width:480px) {
    form{
        width: 100%;
    }
}

.imgcontacto img{
    height: 350px;
    width: 450px;
}


